.Rproj.user
.Rhistory
.RData
.Ruserdata
GCB_poster/my_poster.aux
GCB_poster/my_poster.bbl
GCB_poster/my_poster.blg
GCB_poster/my_poster.log
GCB_poster/my_poster.nav
GCB_poster/my_poster.out
GCB_poster/my_poster.snm
GCB_poster/my_poster.synctex.gz
GCB_poster/my_poster.tex
GCB_poster/my_poster.toc
GCB_poster/my_poster-concordance.tex
GCB_presentation/presentation-concordance.tex
GCB_presentation/presentation.aux
GCB_presentation/presentation.tex
GCB_presentation/presentation.out
GCB_presentation/presentation.nav
GCB_presentation/presentation.toc
GCB_presentation/presentation.snm
GCB_presentation/presentation.log
GCB_presentation/presentation.bbl
GCB_presentation/presentation.blg
GCB_presentation/presentation.toc
GCB_presentation/presentation.synctex.gz
GCB2016.Rproj
