.Rproj.user
.Rhistory
.RData
.Ruserdata
ECCB_poster/my_poster.aux
ECCB_poster/my_poster.bbl
ECCB_poster/my_poster.blg
ECCB_poster/my_poster.log
ECCB_poster/my_poster.nav
ECCB_poster/my_poster.out
ECCB_poster/my_poster.snm
ECCB_poster/my_poster.synctex.gz
ECCB_poster/my_poster.tex
ECCB_poster/my_poster.toc
ECCB_poster/my_poster-concordance.tex
ECCB_presentation/presentation-concordance.tex
ECCB_presentation/presentation.aux
ECCB_presentation/presentation.tex
ECCB_presentation/presentation.out
ECCB_presentation/presentation.nav
ECCB_presentation/presentation.toc
ECCB_presentation/presentation.snm
ECCB_presentation/presentation.log
ECCB_presentation/presentation.synctex.gz
GCB2016.Rproj
